- var img = "https://storage.googleapis.com/mail-attachments"
- var subject = "Meet, Mingle, & Meditate with Sadhguru in Singapore"
- var preview = "https://rawgit.com/ishacrm/emails/master/dist/sg/2016/sis-mmm-vol-followup.html"
- function _(name) { return '{{{{raw}}}}{{' + name + '}}{{{{/raw}}}}'; }

mixin spacer
    include ../../../partials/spacer.html

mixin spacer-white
    include ../../../partials/spacer-white.html

mixin drop-shadow
    include ../../../partials/drop-shadow.html

mixin footer-sg
    include ../../../partials/footer-sg.pug

container
    +spacer
    row.collapse.no-vpad: columns
        a(href="//ishayoga.sg/sis-2017"): img(src=img+"/sg/sis-2017/email-banner-eb.jpg",alt="")

    +spacer-white
    row: columns
        p.highlight Namaskaram !{_('FIRST_NAME')},
        p.justify.
            Thank you for registering to volunteer for Sadhguru's programme.
        p.justify.
            This is a follow up email to ensure clear communication regarding team assignment and other details
            so that we can all work together towards Sadhguru's programme and make it a grand success.

    row: columns
        callout.secondary.
            The main team that you are assigned to is: #[strong !{_('VAR1')}]#[br]
            !{_('if VAR2 != "NA"')} Other team(s) that you can contribute are: #[strong !{_('VAR2')}] !{_('end')}#[br]
            Your main team's coordinator(s): !{_('VAR3')}#[br]
            To know other team coordinators, please see below.

    row: columns
        p.justify.
            You should have been added in to the Whatsapp group(s) for all the above teams as well as to the common volunteers' broadcast list.
            Please feel free to contact your coordinator if you have not been added or if you need any clarifications.
        p.justify.
            Also, if you would like to contribute to other teams or if there are changes that we are not aware of,
            please contact Sharmila/Rusma (details below).

    row.the-shadow: columns

    row.section-header: columns
        | Teams and Coordinators
    row
        columns(small="6")
            p.small
                strong Offline#[br]
                | #[u Ramesh]: 82095765#[br] neelakandanramesh@gmail.com#[br]
                | #[u Aravindh]: 84392892#[br] aravindh28@gmail.com#[br]
            hr.condensed

        columns(small="6")
            p.small
                strong Calling#[br]
                | #[u Sharmila Napa]: 96239231#[br] sharmila.napa@gmail.com#[br]
                | #[u Rusma Mulyadi]: 96238985#[br] rmulyadi@gmail.com
            hr.condensed

    row
        columns(small="6")
            p.small
                strong Social Media Organic#[br]
                | #[u Thulasi]: 92705371#[br] thulasidhar@gmail.com#[br]
                | #[u Neelesh]: 91014421#[br] neeleshjadhav@gmail.com
            hr.condensed

        columns(small="6")
            p.small
                strong Corporate#[br]
                | #[u Sriram]: 84047079#[br] sriram123@gmail.com#[br]
                | #[u Pradeip]: 97913372#[br] pradeip.cumar@gmail.com
            hr.condensed

    row
        columns
            p.small
                strong Volunteer Coordination#[br]
                | #[u Sharmila Napa]: 96239231#[br] sharmila.napa@gmail.com#[br]
                | #[u Rusma Mulyadi]: 96238985#[br] rmulyadi@gmail.com

    +drop-shadow
    +spacer
    +footer-sg
    +spacer